
:root{
  --bg-color: #ffffff;
  --text-color: #17141d;
  --second-color:#148f77#685f78;
  --main-color: #148f77;
  --big-font: 3.8rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}
  
  #catimg{
    height: 30px;
    width: 30;
  }
  .center-text{
    text-align: center;
  }
  .center-text h5{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 9px;
  }
  .center-text h2{
   font-size: var(--h2-font);
   line-height: 1.2; 
  }
  .categories-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    text-align: center;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
  }
  
  /*
  
  */
  .box{
    border: 1px solid #148f77;
    border-radius: 20px;
    padding: 25px 60px;
    padding: 20px 30px;
    box-shadow: -1.729px -1.729px 5px #148f77;
    transition: all .40s ease;
    margin: vw;
    
  }
  .box:hover{
    transform: translateY(-15px);
  }
  .box h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 0.5;
    transition: all .40s ease;
    color: var(--second-color);
    padding-top: px;
    
  }
  .box h5{
    color: var(--main-color);
    font-size: 18px;
  font-weight: 700;
  }
  .box p{
    font-size: var(--p-font);
    color: var(--second-color);
    font-weight: 500;
    padding-bottom: 2px;
  }
  .main-btn{
    text-align: center;
    margin-top: 5rem;
  }
  .btn{
  display:inline-block;
  padding: 10px 30px;
  font-size: var(--p-font);
  font-weight: 700;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 30px;
  transition: all .40s ease;
  text-decoration: none;
  }
  .btn1:hover{
    transform: scale(0.9) translateY(-5px);
  }
  #clickbtn{
    display: inline-block;
    padding: 6px 20px;
    transition: none;
    transform: none;
    
  }